<div class="row">
  <%= form_for(@profile) do |f| %>
    <% if @profile.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

        <ul>
        <% @profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">

      <div class="col-xs-4 col-sm-4">
        <br>
        <%= f.text_field :user_id, :class => "input-lg form-control", "placeholder" => "user_id" %>
      </div>

      <div class="col-xs-4 col-sm-4">
        <br>
        <%= f.text_field :name, :class => "input-lg form-control", "placeholder" => "name" %>
      </div>

      <div class="col-xs-4 col-sm-4">
        <br>
        <%= f.text_field :phone, :class => "input-lg form-control", "placeholder" => "phone number" %>
      </div>

      <div class="col-xs-4 col-sm-4">
        <br>
        <%= f.text_field :email, :class => "input-lg form-control", "placeholder" => "email", "required" => "true" %>
      </div>

      <div class="col-xs-4 col-sm-4">
        <div class="actions pull-right">
            <%= f.submit "Submit", :class=> "btn btn-info btn-lg" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
