    <table class="table table-hover" id="records">
      <thead>
        <tr>
          <th colspan="6"></th>
        </tr>
      </thead>

      <tbody>
        <% current_user.notifications.order(:created_at).reverse.each do |notification| %>
          <tr>
            <td>
              <center>
                <%= getname notification.maker_id, true %>
                changed <%= notification.changetype %>
                of <%= link_to Record.find(notification.record_id).firstname + " " + Record.find(notification.record_id).lastname, edit_record_path(notification.record_id), :class => 'btn btn-default btn-xs' %>
                from <%= notification.change %>
                to <%= Record.find(notification.record_id).progress %>
                <!--<%= time_ago_in_words notification.created_at %> ago -->
                <% temptime = notification.created_at-6.hours %>
                <%= temptime.strftime("on %m/%d/%Y") %>
                <%= temptime.strftime("at %l:%M%p")%>
              </center>
            </td>
            <td>
              <center>
                <%= link_to(image_tag("trash.png", size: "18x20", alt: "Remove", "style"=>"padding:2px"), notification, method: :delete, :class => "btn btn-default btn-xs", data: { confirm: 'Are you sure?' } ) %>
              </center>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>