<center>

  <h4>set status to </h4>
  <% if current_user.profile.status == "busy" %>
    <%= link_to "Free", {:controller => :profiles, :action => :changestatus}, :method => 'post', :class =>"btn btn-lg btn-default" %>
    <%= link_to "Busy", root_path, :class =>"btn btn-lg btn-success active" %>
  <% elsif current_user.profile.status == "free"  %>
    <%= link_to "Free", root_path, :class =>"btn btn-lg btn-success active" %>
    <%= link_to "Busy", {:controller => :profiles, :action => :changestatus}, :method => 'post', :class =>"btn btn-lg btn-default" %>
  <% else %>
    <%= link_to "Free", {:controller => :profiles, :action => :changestatus}, :method => 'post', :class =>"btn btn-lg btn-default" %>
  <% end %>

  <br />
  <br />

  <div class="row">
    <div class="col-xs-6 col-sm-6">
      <%= link_to "My Clients", records_path, class: 'btn btn-default btn-lg btn-warning', "data-no-turbolink"=>"true" %>
    </div>

    <div class="clearfix visible-xs-block"></div>

    <div class="col-xs-6 col-sm-6">
      <%= link_to "Profile Search", profiles_path, class: 'btn btn-default btn-lg btn-warning', "data-no-turbolink"=>"true" %>
    </div>
  </div>

</center>


<%= render 'notifications/nlist' %>

<% if current_user.profile.title == "admin" or current_user.profile.title == "master" %>
  <br />
  <hr />
  <table class="table">
    <strong>Admins:</strong>
    <tbody>
      <% @profiles.each do |profile| %>
        <% if profile.title == "admin" %>
      <tr>
        <td>
          <%= getname profile.user_id%> 
        </td>
        <td>
          joined <%= time_ago_in_words profile.created_at %> ago
        </td>
      </tr>
      <% end %>
    <% end %> 
    </tbody>
  </table>  

  <!--<%= link_to "sup", "#{@mylink}" %>
  <%= link_to "sup2", @mylink %>-->

  <center>
    <%= link_to "Edit Progression Points", phases_path, class: 'btn btn-default btn-lg btn-warning', "data-no-turbolink"=>"true" %>
  </center>
<% end %>