<div class="row">
  <%= form_for(@record) do |f| %>
    <% if @record.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

        <ul>
        <% @record.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <div class="col-xs-6 col-sm-3">
        <div class="input-group">
          <br>

          <%= f.text_field :firstname, autofocus: true, :class => "input-lg form-control", "placeholder" => "first name" %>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="input-group">
          <br>
          <%= f.text_field :lastname, :class => "input-lg form-control", "placeholder" => "last name"  %>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="input-group">
          <br>
          <%= f.text_field :phone, :class => "input-lg form-control", "placeholder" => "phone"  %>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="input-group">
          <br>
          <%= f.text_field :email, :class => "input-lg form-control", "placeholder" => "email"  %>
        </div>
      </div>
      <div class="field" hidden="true">
        <br>  
        <%= f.label :receivedate %><br>
        <%= f.datetime_select :receivedate, :class => "input-lg form-control" %>
      </div>
      <div class="col-xs-6 col-sm-6">
        <div class="input-group">
          <br>
          <%= f.label "Progress" %>&nbsp
          <% listofprogress = [["1 Not contacted", "1"],["2 Interested", "2"],["3 App Taken", "3"],["4 Priced", "4"],["5 Disclosure Signed", "5"],["6 No Appraisal Needed", "6"],["7 Appraisal Ordered", "7"],["8 Appraisal Recieved", "8"],["9 In Underwriting", "9"],["10 Closing Scheduled", "10"],["11 Closed", "11"],["12 Dead", "12"],["Unknown", "unknown"]] %>
            <%= f.select :progress, options_for_select(listofprogress, @record.progress.to_s), {prompt: true}, { :class => "btn btn-default btn-lg dropdown-toggle", "required"=>"true"} %>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6">
        <div class="input-group">
          <br>
          <% listoflos = [] %>
          <% @profiles.each do |profile|  %>
            <% listoflos.push(profile) if profile.title == "loan officer" %>
          <% end %>
          <%= f.collection_select :loanofficer_id, listoflos, :user_id, :firstname, {prompt: true}, { :class => "btn btn-default btn-lg dropdown-toggle", "required"=>"true"} %>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6">
        <div class="input-group">
          <br>
          <%= f.label "Progress" %>&nbsp
          <% listofprogress = [["1 Not contacted", "1"],["2 Interested", "2"],["3 App Taken", "3"],["4 Priced", "4"],["5 Disclosure Signed", "5"],["6 No Appraisal Needed", "6"],["7 Appraisal Ordered", "7"],["8 Appraisal Recieved", "8"],["9 In Underwriting", "9"],["10 Closing Scheduled", "10"],["11 Closed", "11"],["12 Dead", "12"],["Unknown", "unknown"]] %>
            <%= f.select :progress, options_for_select(listofprogress, @record.progress.to_s), {prompt: true}, { :class => "btn btn-default btn-lg dropdown-toggle", "required"=>"true"} %>
        </div>
      </div>
      <div class="clearfix visible-xs-block"></div>
      <div class="col-xs-6 col-sm-6">
        <div class="text-left">
        <% if current_user.profile.title == "admin" || current_user.id == @record.loanofficer_id || current_user.id == @record.processor_id %>
          <%= link_to(image_tag("trash.png", size: "18x20", alt: "Remove", "style"=>"padding:2px"), @record, method: :delete, data: { confirm: 'Are you sure you want to permanently destroy this client record?' }, :class => 'btn btn-default btn-lg') %>
        <% end %>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6">
        <div class="text-right">
          <div class="actions">
              <%= f.submit "Submit", :class=> "btn btn-info btn-lg" %>
          </div>
        </div>
      </div>   
    </div>  
  <% end %>
</div>  