<div class="row">
  <%= form_for(@record) do |f| %>
    <% if @record.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

        <ul>
        <% @record.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <div class="col-xs-6 col-sm-3">

          <br>

          <%= f.text_field :firstname, autofocus: true, :class => "input-lg form-control", "placeholder" => "first name" %>

      </div>
      <div class="col-xs-6 col-sm-3">

          <br>
          <%= f.text_field :lastname, :class => "input-lg form-control", "placeholder" => "last name"  %>

      </div>
      <div class="col-xs-6 col-sm-3">

          <br>
          <%= f.text_field :phone, :class => "input-lg form-control", "placeholder" => "phone"  %>

      </div>
      <div class="col-xs-6 col-sm-3">

          <br>
          <%= f.text_field :email, :class => "input-lg form-control", "placeholder" => "email"  %>
      </div>
      <div class="field" hidden="true">
        <br>
        <%= f.label :receivedate %><br>
        <%= f.datetime_select :receivedate, :class => "input-lg form-control" %>
      </div>
      <div class="field" hidden="true">
        <br>
        <%= f.label "Progress" %>&nbsp
        <%= f.select :progress, options_for_select([["New", "New"]]), {:selected => params['new']}, {:class => "btn btn-default btn-lg dropdown-toggle"} %>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="input-group">
          <div class="input-group-addon">Loan Officer </div>
          <%= f.collection_select :loanofficer_id, @listoflos, :user_id, :name, {prompt: false}, { :class => "btn btn-default btn-lg dropdown-toggle btn-lg input-lg form-control"} %>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="input-group">
          <div class="input-group-addon">Processor </div>
          <%= f.collection_select :processor_id, @listofpros, :user_id, :name, {prompt: false}, { :class => "btn btn-default btn-lg dropdown-toggle btn-lg input-lg form-control"} %>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="input-group">
          <div class="input-group-addon">Marketer </div>
          <%= f.collection_select :marketer_id, @listofmars, :user_id, :name, {prompt: false}, { :class => "btn btn-default btn-lg dropdown-toggle btn-lg input-lg form-control"} %>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="input-group">
          <div class="input-group-addon">Realtor </div>
          <%= f.collection_select :real_id, @listofRA, :user_id, :name, {prompt: false}, { :class => "btn btn-default btn-lg dropdown-toggle btn-lg input-lg form-control"} %>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="input-group">
          <div class="input-group-addon">Escrow Officer </div>
          <%= f.collection_select :escrow_id, @listofEO, :user_id, :name, {prompt: false}, { :class => "btn btn-default btn-lg dropdown-toggle btn-lg input-lg form-control"} %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12">
        <div class="actions">
          <br />
          <%= f.submit "Submit", :class=> "btn btn-info btn-lg pull-right" %>
        </div>
      </div>
    </div>  
  <% end %>
</div>  