
<h1>Client Record</h1>

<%= render 'eform' %>



<br />
<hr />
<%= render 'phases' %>
<br />
<hr />
<%= render 'newnos' %>

<br />
<br />
<br />
<br />
<hr />
<% if @record.notes.count >= 50 %>
  <%= link_to "See Notes History", recrod_path(@record), class: 'btn btn-lg btn-default', "data-no-turbolink"=>"true" %>
<% else %>
  <%= render 'nos' %>
<% end %>
<script>
function textAreaAdjust(o) {
    o.style.height = "1px";
    o.style.height = (25+o.scrollHeight)+"px";
}
</script>


