<div class="row">
  <div class="col-xs-3 col-sm-3">
    <h1>Clients</h1>
  </div>
  <div class="col-xs-9 col-sm-9">
    <div class="pull-right"><br />
      <table class="table table-hover" id="records">
        <tbody>
          <tr> Color Key:
            <% i = 0 %>
            <% @phases.order(:phase_id).each do |phase| %>
              <td class=<%="#{@listofcolors[i]}"%> ><center><%= phase.name %></center></td>
              <% i = i + 1 %>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-xs-6 col-sm-6">
    <%= form_tag records_path, :method => 'get', :class => "form-inline" do %>
      <%= text_field_tag :search, params[:search], :class => "input-lg", autofocus: true %>
      <%= submit_tag "Search", :name => nil, :class => "btn btn-default btn-lg", :style => "margin:0px 0px 10px 10px" %>
    <% end %>
  </div>

  <div class="col-xs-3 col-sm-3">
    <h4>Total Clients: <%= @records.count %></h4>
  </div>
  <div class="col-xs-3 col-sm-3">
    <%= link_to 'New Record', new_record_path, class: 'btn btn-default btn-lg btn-info pull-right', "data-no-turbolink"=>"true"  %>
  </div>
</div>

<% if @records.any? %>
<% else %>
  <p>No search results match your search: <%= params[:search] %>.</p>
<% end %>
<table class="table table-hover" id="records">
  <thead>
    <tr>
      <th><%= sortable "firstname", "Frist Name"%></th>
      <th><%= sortable "lastname", "Last Name" %></th>
      <!--<th><%= sortable "receivedate", " Age" %></th>-->
      <th><%= sortable "updated_at", "Updated" %></th>
      <th><%= sortable "progress", "Progress" %></th>
      <th><%= sortable "detailedprogress", "Detailed Progress" %></th> 
      <th><%= sortable "loanofficer_id", "Loan Officer" %></th>
      <th><%= sortable "processor_id", "Processor" %></th>
      <th><%= sortable "marketer_id", "Marketer" %></th>
      <th><%= sortable "real_id", "Realtor" %></th>
      <% if current_user.profile.title == "master" %>
        <th colspan="1"></th>
      <% end %>
    </tr>
  </thead>

  <tbody> 
    <% @records.each do |record| %>
      <% if record.progress != "On Hold" and record.progress != "Completed" and record.progress != "Dropped" and record.progress != "Unknown" %>
        <% @followupwithme = @listofcolors[record.detailedprogress.to_i-1] %>
        
        <% myrecdate = getupdated(record) || nil %>

        <%= content_tag :tr, class: "#{@followupwithme}" do -%> 

          <td><%= correctlink record, record.firstname %></td>
          <td><%= correctlink record, record.lastname %></td>
          <td>
            <%= time_ago_in_words(myrecdate) %>
          </td>
          <td><%= record.progress %></td>          
          <td><%= getpname record.detailedprogress %></td>
          <td><%= getname record.loanofficer_id %></td>
          <td><%= getname record.processor_id %></td>
          <td><%= getname record.marketer_id %></td> 
          <td><%= getname record.real_id %></td>  
          <% if current_user.profile.title == "master" %>
            <td><%= link_to image_tag("trash.png", size: "18x20", alt: "Remove", "style"=>"padding:2px"), record, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default btn-xs' %></td>
          <% end %>
        <% end -%>
      <% end %>
    <% end %>
  </tbody>
</table>



<br />
<br />
<br />
<hr />
<div id = "ShowInactive">
<%= link_to "Show Inactive Clients", inactive_content_path, :remote => true, :class => "btn btn-default btn-lg" %>
</div>

<% if current_user.profile.title == "admin" || current_user.profile.title == "master" %>
<br />
<br />
<br />
<hr>

  <h2>Backup</h2>
  <br />
  <div class="row">
    <div class="col-xs-4 col-sm-4">
    <h3>Export Records</h3>
      <%= link_to "To CSV File", records_path(format: "csv"), :class => 'btn btn-default btn' %>

    </div>
    <div class="col-xs-4 col-sm-4">
      <h3>Import Records</h3>
      <%= form_tag import_records_path, multipart: true do %>
        <%= file_field_tag :file, :class => 'btn btn-default btn' %><br />
        <%= submit_tag "Import", :class => 'btn btn-default btn' %>
      <% end %>
    </div>
  </div>
<% end %>


<script>
function showClosedTable() {
  if (document.getElementById('deadrecords').style.visibility=='hidden'){
    document.getElementById('deadrecords').style.visibility='visible';
  } else {
    document.getElementById('deadrecords').style.visibility='hidden';
  }

    return false;
}
</script>
<br />