<h1>Listing steps</h1>

<table>
  <thead>
    <tr>
      <th>Record</th>
      <th>Progression</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @steps.each do |step| %>
      <tr>
        <td><%= step.record_id %></td>
        <td><%= step.progression_id %></td>
        <td><%= link_to 'Show', step %></td>
        <td><%= link_to 'Edit', edit_step_path(step) %></td>
        <td><%= link_to 'Destroy', step, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Step', new_step_path %>

<br />
<br />
<br />
<hr>
<% if current_user.profile.title == "admin" || current_user.profile.title == "master" %>
  <h2>Backup</h2>
  <br />
  <div class="row">
    <div class="col-xs-4 col-sm-4">
    <h3>Export Steps</h3>
      <%= link_to "To CSV File", steps_path(format: "csv"), :class => 'btn btn-default btn' %>

    </div>
    <div class="col-xs-4 col-sm-4">
      <h3>Import Steps</h3>
      <%= form_tag import_steps_path, multipart: true do %>
        <%= file_field_tag :file, :class => 'btn btn-default btn' %><br />
        <%= submit_tag "Import", :class => 'btn btn-default btn' %>
      <% end %>
    </div>
  </div>
<% end %>
