<h1>Listing phasesteps</h1>

<table>
  <thead>
    <tr>
      <th>Finishedtime</th>
      <th>Record</th>
      <th>Phase</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @phasesteps.each do |phasestep| %>
      <tr>
        <td><%= phasestep.finishedtime %></td>
        <td><%= phasestep.record_id %></td>
        <td><%= phasestep.phase_id %></td>
        <td><%= link_to 'Show', phasestep %></td>
        <td><%= link_to 'Edit', edit_phasestep_path(phasestep) %></td>
        <td><%= link_to 'Destroy', phasestep, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Phasestep', new_phasestep_path %>
<br />
<br />
<br />
<hr>
<% if current_user.profile.title == "admin" || current_user.profile.title == "master" %>
  <h2>Backup</h2>
  <br />
  <div class="row">
    <div class="col-xs-4 col-sm-4">
    <h3>Export PhaseSteps</h3>
      <%= link_to "To CSV File", phasesteps_path(format: "csv"), :class => 'btn btn-default btn' %>

    </div>
    <div class="col-xs-4 col-sm-4">
      <h3>Import PhaseSteps</h3>
      <%= form_tag import_phasesteps_path, multipart: true do %>
        <%= file_field_tag :file, :class => 'btn btn-default btn' %><br />
        <%= submit_tag "Import", :class => 'btn btn-default btn' %>
      <% end %>
    </div>
  </div>
<% end %>
