<h1>Phases </h1>

<br />
<% @phases.order(:phase_id).each do |phase| %>
  <%= render partial: "phase", locals: { phase: phase } %>
  <table class="table table-hover" style="margin: 0px 0px 0px 15px">
    <tbody>
      <% @progressions.each do |progression| %>
        <% if progression.phase == phase %>

          <%= form_for(progression) do |f| %>
            <% if progression.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(progression.errors.count, "error") %> prohibited this progression from being saved:</h2>
                <ul>
                <% progression.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <tr> 
              <td>
                <%= f.text_field :name, "value" => progression.name, "placeholder" => "Name", :class => "input form-control", :onkeyup => "showPSubmit(#{progression.id})" %>
              </td>
              <td>
                <% listofphases = [] %>
                <% @phases.each do |ph|  %>
                  <% listofphases.push(ph)%>
                <% end %>
                <!--<div class="input-group-addon">Phase </div>-->
                <%= f.label :phase_id %>
                <%= f.collection_select :phase_id, listofphases, :id, :name,{prompt: true}, { :class => "btn btn-default dropdown-toggle", "required"=>"true", "onchange" => "showPSubmit(#{progression.id})"} %></td>
              <td>
                  <%= link_to(image_tag("trash.png", size: "18x20", alt: "Remove", "style"=>"padding:2px"), progression, method: :delete, :class => "btn btn-default btn-sm") %>
              </td>
              <td>
                <div class="text-right">                  
                  <%= f.submit(:class=> "btn btn-info btn", :id => "hiddenpsubmit#{progression.id}", :style => "visibility:hidden") %>
                </div>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <br />
  <br />     
<% end %>

<br>

<%= link_to 'New Phase', new_phase_path, :class=> "btn btn-info btn-lg"  %>




<script>
function showSubmit(pid) {
  document.getElementById('hiddensubmit'+pid).style.visibility='visible';
  return false;
}
function showPSubmit(pid) {
  document.getElementById('hiddenpsubmit'+pid).style.visibility='visible';
  return false;
}
</script>


